---
---

@import "{{ site.theme }}";

.wrapper {
  width: min(1400px, calc(100% - 24px));
}

header {
  width: 200px;
}

section {
  width: calc(100% - 230px);
}

@media print, screen and (max-width: 960px) {
  .wrapper {
    width: auto;
    margin: 0 16px;
  }

  header,
  section {
    float: none;
    position: static;
    width: auto;
  }
}
